{% extends "base.html" %}
{% block title %}
首页
{% endblock title %}
{% block header %}

{% endblock header %}
{% block body %}
<div class="row">
    <div class="col"></div>
    <div class="col-8 mt-4" style="opacity:0.8;">
        <h1 style="text-align: center;">问答列表</h1>
        {% if questions != [] %}
        {% for question in questions %}
        <div class="list-group mt-4">
            <div >
                <a href="{{ url_for('qa.qa_detail', qa_id=question.id) }}">{{ question.title}}</a>
                <small style="color: grey;text-align:right;float:right">{{ question.create_time }}</small>
            </div>
            <p class="mb-1">{{ question.content }}</p>
            <small style="color: green;">作者:{{ question.author.username }}</small>
        </div>
        {% endfor %}
        {% else %}
        <h4 style="text-align: center;">暂无问答</h4>
        {% endif %}
    </div>
    <div class="col">

    </div>

</div>


{% endblock body %}